.container{
    text-align: center;
    margin-top: 23px;

}
table{
    margin: auto;
}

input{
    border-radius: 21px;
    border: 6px solid rgb(101, 99, 99);
    font-size: 34px;
    height: 62px;
    width: 455px;
    
}
button{
    border-radius: 20px;
    font-size: 40px;
    background-color: rgb(101, 99, 99);
    width: 90px;
    height: 70px;
    
}
.calculator{
    border: 5px solid rgb(63, 61, 61);
    background-color:rgb(136, 135, 135);
    padding: 30px;
    border-radius: 55px;
    display: inline-block;

}
h1{
    font-size: 50px;
   font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}